<h1><%= @pirate.name %></h1>
<h1><%= @pirate.weight %> lbs</h2>
<h1><%= @pirate.height %> inches</h2>


<h2><%= @ships.first.name %></h2>
<h2><%= @ships.first.type %></h2>
<h2><%= @ships.first.booty %></h2>


<h2><%= @ships[1].name %></h2>
<h2><%= @ships[1].type %></h2>
<h2><%= @ships[1].booty %></h2>
